.roadmap {
  padding: 15px 0;
}

.roadmap-block {
  padding-bottom: 30px;

  @media (--screen--mobile-max) {
    position: relative;
    padding-left: 25px;
  }

  @media (--screen--md) {
    padding-top: 35px;
  }

  &__title {
    font-weight: 700;
    line-height: 19px;
    transition-property: color;

    @media (--screen--mobile-max) {
      margin-bottom: 12px;
    }

    @media (--screen--md) {
      margin-bottom: 10px;
    }

    &[data-roadmap-animate] {
      ._present & {
        color: var(--color--aqua);
      }
    }
  }

  &__desc {
    @media (--screen--mobile-max) {
      line-height: 19px;
    }

    @media (--screen--md) {
      line-height: 21px;
    }
  }
}

.roadmap-sign {
  position: absolute;
  top: 2px;
  left: 0;

  @media (--screen--mobile-max) {
    width: 13px;
    height: 100%;
  }

  @media (--screen--md) {
    left: 15px;
    width: 100%;
    height: 13px;
  }

  &__circle {
    width: 13px;
    height: 13px;
    background-color: var(--color--light-purple);
    border-radius: 50%;
    transition-property: background-color;

    &[data-roadmap-animate] {
      ._past & {
        background-color: var(--color--purple);
      }

      ._present & {
        background-color: var(--color--aqua);
      }
    }
  }

  &__line {
    position: absolute;
    z-index: -1;
    top: 0;
    background-color: var(--color--light-purple);
    background-position: right bottom;
    transition-property: background-position;

    @media (--screen--mobile-max) {
      left: 49%;
      width: 1px;
      height: 100%;
      background-size: 100% 200%;
    }

    @media (--screen--md) {
      top: 45%;
      width: 100%;
      height: 1px;
      background-size: 220% 100%;
    }

    &--left,
    &--right {
      display: none;
    }

    &--left {
      ._line-left-md & {
        @media (--screen--md) {
          right: 100%;
          display: block;
        }

        @media (--screen--lg) {
          display: none;
        }
      }

      ._line-left-lg & {
        @media (--screen--lg) {
          right: 100%;
          display: block;
        }
      }

      ._block-first & {
        display: none;
      }

      ._present & {
        @media (--screen--md) {
          background-color: var(--color--purple);
        }
      }
    }

    &--right {
      ._line-right-md & {
        @media (--screen--md) {
          left: 100%;
          display: block;
        }

        @media (--screen--lg) {
          display: none;
        }
      }

      ._line-right-lg & {
        @media (--screen--lg) {
          left: 100%;
          display: block;
        }
      }
    }

    &--middle {
      &[data-roadmap-animate] {
        ._present & {
          @media (--screen--md) {
            background-position: right bottom;
          }
        }
      }
    }

    ._block-last & {
      display: none;
    }

    ._past & {
      @media (--screen--mobile-max) {
        background-image: linear-gradient(to bottom, var(--color--purple) 50%, var(--color--light-purple) 50%);
      }

      @media (--screen--md) {
        background-image: linear-gradient(to right, var(--color--purple) 50%, var(--color--light-purple) 50%);
      }
    }

    ._present & {
      @media (--screen--md) {
        background-image: linear-gradient(to right, var(--color--purple) 50%, var(--color--light-purple) 50%);
      }
    }

    &[data-roadmap-animate] {
      @media (--screen--mobile-max) {
        background-position: right top;
      }

      @media (--screen--md) {
        background-position: left bottom;
      }
    }
  }
}
