extends ../layout.pug

block content

  -
    var roadmapContent = [
      {
        mod: 'past',
        desc: 'Wow! Pieces o\' passion are forever warm. Why does the gull travel? Belay, dark landlubber. go to cabo rojo.'
      },
      {
        mod: 'past',
        desc: 'Ales rise on strength at la marsa beach! The cloud hauls with adventure, fear the freighter before it hobbles. Proud, shiny ships heavily view a small, fine mainland. Shores are the pants of the clear strength.'
      },
      {
        mod: 'past',
        desc: 'Ah, love! How stormy. You view like a plank. Wow, golly gosh.'
      },
      {
        mod: 'past',
        desc: 'The kraken tastes with pestilence, view the freighter until it dies. How proud. You sail like a dagger.'
      },
      {
        mod: 'past',
        desc: 'Jack of a rainy halitosis, command the endurance! The cockroach marks with faith, view the cook islands before it travels.'
      },
      {
        mod: 'past',
        desc: 'Oh, desire me reef, ye cold shore! Fight is a fine parrot. Well, punishment! Travel roughly like a weird pegleg. C\'mon, hunger! Ah, ye stormy gibbet- set sails for strength!'
      },
      {
        mod: 'present',
        desc: 'The skull trades with life, break the seychelles until it sings.'
      },
      {
        desc: 'Never endure a girl. When the gibbet hobbles for cabo rojo, all jolly rogers view black, scrawny landlubbers.'
      }
    ];

  .container(data-roadmap-container)
    .roadmap
      .row
        each item, i in roadmapContent
          .col-12.col-md-4.col-lg-3
            .roadmap-block(
              class= item.mod && `_${item.mod}`
              data-roadmap-block= item.mod ? 'colored' : ''
            )
              .roadmap-block__title(data-roadmap-title)= 2000 + (i + 1)
              .roadmap-block__desc !{item.desc}
              .roadmap-sign
                .roadmap-sign__circle(data-roadmap-circle)
                .roadmap-sign__line.roadmap-sign__line--left(data-roadmap-line-left)
                .roadmap-sign__line.roadmap-sign__line--middle(data-roadmap-line-middle)
                .roadmap-sign__line.roadmap-sign__line--right(data-roadmap-line-right)
