@font-face {
  font-display: swap;
  font-family: "FuturaBT";
  font-style: normal;
  font-weight: 500;
  src: url("./static/fonts/FuturaBT-Medium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "FuturaBT";
  font-style: normal;
  font-weight: 700;
  src: url("./static/fonts/FuturaBT-Bold.woff") format("woff");
}
