<!doctype html>
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title roadmap-test
    link(rel="stylesheet", href="./styles.css")
    link(rel="shortcut icon", href="./favicon.ico", type="image/x-icon")
    meta(name="theme-color" content="#000")
  body
    .layout
      block content
  script(src="https://code.jquery.com/jquery-3.3.1.min.js" defer)
  script(src="./bundle.js" defer)
