@import "normalize.css";

:root {
  --screen--md: 'only screen and (min-width: 768px)';
  --screen--lg: 'only screen and (min-width: 1024px)';
  --screen--xl: 'only screen and (min-width: 1366px)';
  --screen--mobile-max: 'only screen and (max-width: 767px)';
  --color--dark-blue: #272a75;
  --color--purple: #484bfc;
  --color--light-purple: #e2e0ff;
  --color--aqua: #57d9ad;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;

  &._noscroll {
    overflow: hidden;
  }
}

body {
  min-width: 320px;
  color: var(--color--dark-blue);
  font-family: "FuturaBT", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  line-height: 21px;

  &._noscroll {
    overflow: hidden;
    height: 100%;
  }
}

.layout {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}
